<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="browser" value="chrome"/>
    <test name="storeTest">
        <parameter name="email" value="test@test.com"/>
        <parameter name="password" value="test123"/>
        <classes>
            <class name="tests.ProductToCartTest"/>
            <class name="tests.BasicStoreNavigationTest"/>
            <class name="tests.LoginTest"/>
<!--            <class name="tests.AutomationSiteNavigationTest"/>-->
        </classes>
    </test>
</suite>